@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Menggunakan selector universal agar Tailwind v4 membaca variabel global dengan aman */
body {
  background-color: #0a0a0a !important;
  color: #ededed;
  margin: 0;
  padding: 0;
}

/* Memastikan elemen canvas berada di posisi mutlak dan tidak menutupi interaksi teks */
canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.text-outline-cyber {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);
  color: transparent;
  transition: all 0.3s ease;
}

.text-outline-cyber:hover {
  -webkit-text-stroke: 1px rgba(16, 185, 129, 0.4);
  color: rgba(16, 185, 129, 0.03);
}